@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap');
* {
  padding: 0px;
  margin:0px;
  text-decoration: none;
}
html, body {
  min-height: 100vh;
  padding:0;
  max-width: 100vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}
body {
  position: relative;
  background: white;
}
p {
  margin: 10px auto;
  line-height: 1.5em;
}
.content {
  margin-left: 50px;
  margin-right: 50px;
  max-width: 100vw;
}
img .card-img-top{
  height: 150px;
  width: auto;
}

.clients>div{
  text-align: center;
}
.item{
  display: none;
  position: relative;
  transition:.3s ease-in-out right;
}
.carousel-inner > .item{
  position: relative;
  display: none;
  -webkit-transition: 0.3s ease-in-out right;
  -moz-transition: 0.3s ease-in-out right;
  -o-transition: 0.3s ease-in-out right;
  transition: 0.3s ease-in-out right;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 36px;
  margin-left: -13px;
}
.layout {
  background-color:white;
}
.container{
  margin-right : 10px !important;
  margin-left : 10px !important;
  padding-right : 0 !important;
  padding-left : 0 !important
 }
 .full{
   max-width: 100vw;
 }
 .navbar-light .navbar-nav .nav-link {
  color: green !important;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: green !important;
  border-bottom: 0.5px solid green !important;
}
.navbar-light .navbar-nav .nav-link:active {
  color: green !important;
  border-bottom: 1px solid green !important;
}
.navbar-light .navbar-toggler {
  color: green !important;
  border-color: green !important;
  margin-left: 43%;
}

.container .container-lg .container-md .container-sm .container-xl {
  max-width: inherit;
}

.navbar-light .navbar-brand {
  color: rgba(0,0,0,.9);
  margin-bottom: auto;
}

footer{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top:15px;
}
footer h3{
  text-align:center;
}
footer div{
  background-color:black;
  color:gray;
  text-align:center;
}
footer div h3{
  color:white;
  text-align: center;
}
footer p{
  text-align: center;
  color: gray;
}
footer ul{
  text-align:center;
}
.smedia{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.smedia a {
  text-decoration: none;
  padding:10px;
}
.copyright{
  padding-top: 20%;
}
.copyright>p{
  color: white;
  font-size: large;
}

@media only screen and (max-width: 768px){
  .navbar{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    width: 100%;
  }
  .content {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 100vw;
}
  nav {
    display: grid !important;
    grid-template-columns: 1fr 0.5fr !important;
    width: 100% !important;
  }
  button{
    max-width: 50px !important;
    max-height: 50px !important;
  }
  .navbar-toggler {
    padding: 0.25rem 0.75rem !important;
    font-size: -0.75rem !important;
    line-height: 1 !important;
    background-color: #0000 !important;
    border: none !important;
    border-radius: none !important;
}
}
@media only screen and (max-width: 428px){
  .navbar{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    width: 100%;
  }
  .content {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 100vw;
}
  nav {
    display: grid !important;
    grid-template-columns: 1fr 0.5fr !important;
    width: 100% !important;
  }
  button{
    max-width: 50px !important;
    max-height: 50px !important;
  }
  .navbar-toggler {
    padding: 0.25rem 0.75rem !important;
    font-size: -0.75rem !important;
    line-height: 1 !important;
    background-color: #0000 !important;
    border: none !important;
    border-radius: none !important;
}
}