.header {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr;
    grid-gap: 40px;
  }
  .container{
    max-width: 100vw !important;
}
  .header >div>h2{
    color:green;
  }
  section >div>h2>{
    text-align:left;
  }
  .heading_bruv>h2{
    text-align:center;
  }
  .main_hero{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
    width: 100%;
    height: 300px;
  }
  .slogan{
    display:grid;
    grid-template-columns:auto auto;
    text-align:left;
    padding:20px;
  }
  .slogan>div>p>b{
    color: black;
  }
  .hero_text{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .hero{
      color: green;
  }
  .hero_time{
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .hero>h1{
    text-align:left;
    color: green;
  }
  
  .left_middle_background{
    background-color:green;
    margin:10px;
  }
  .header h1{
    font-size: 3.5em;
    font-weight: 400;
    text-align:left;
    color:black;
  }
  .header p{
    color:gray;
  }
  .btn {
    text-align: center;
    display: block;
    float: right;
    background:green;
    color:white;
    border-radius: 50px;
    max-width: 124px;
  }
  .btn:hover{
    color:green;
    background:white;
    border:1px solid green;
  }
  .prod_btn{
    text-align: center;
    display: block;
    float: left;
    max-width: auto;
    background:white;
    color:green;
    border-radius: 50px;
    border: 0.5px solid green;
    max-width: 124px;
  }
  .prod_btn:hover{
    color:white;
    background:green;
    border:1px solid green;
  }
  .hero_btns{
    display: grid;
    align-items:flex-start;
    grid-template-columns: repeat(auto-fit, minmax(100px, 0.25fr));
    gap: 5px;
  }
  .fresh{
    color: green;
  }
  .middle{
    margin-top:5px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    text-align:center;
    gap: 25px;
  }
  .middle_middle{

  }
  .middle_heading{
    text-align:center;
    color:green;
  }
  .middle_heading>h3{
    padding-bottom:10px;
  }
  .left_middle{
    color:black;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .left_middle>h5{
    padding: 10px;
  }
  .left_middle>h5>div{
    
  }
  .left_middle_info{
    display:grid;
    grid-template-rows:auto;
  }
  .left_middle ul{
    list-style:none;
    text-align:left;
    margin-top:5%;
    margin-left:35%;
  }
  .left_middle h2{
    color: black;
  }
  .left_middle_image{
    width:auto;
    height:200px;
  }
  .right_middle{
    color:black;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .right_middle>h5{
    padding: 10px;
  }
  .left_middle_info{
    display:grid;
    grid-template-rows:auto;
  }
  .right_middle li{
    padding-top:5px;
  }
  .right_middle ul{
    list-style:none;
    text-align:left;
    margin-left:35%;
  }
  .right_middle h2{
    color: black;
  }
  .right_middle_image{
    width:auto;
    height:200px;
    margin-bottom:15px;
  }
  .middle_middle{
    color: #000;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .middle_middle>h5{
    text-align: center;
  }
  .middle_middle>h5>div{
    max-width: 176px;
    margin-left: 122px;
  }
  .middle_middle_image{
    width:auto;
    height: 150px;
    margin-bottom:15px;
  }
  .middle_middle ul{
    list-style:none;
  }
  .middle_middle li{
    padding-top:5px;
  }
  .middle_middle h2{
    color: black;
  }
  .company{
    margin-bottom:10px;
    margin-top:10px;
    display:grid;
    grid-template-rows:1fr;
    column-gap: 2rem;
    text-align:center;
    gap:10px;
  }
  .company>h3{
    color:green;
  }
  .company>div>p{
    color:black;
  }
  .company>div>ul{
    list-style:none;
    text-align:center;
  }
  .company_core_businesses>div>ul{
    list-style:none;
    text-align:center;
  }
  .company_core_businesses{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 2rem;
    text-align:center;
  }
  
  .company>div>p{
    color:white;
    align-items: flex-start;
  }
  .company>div>h3{
    color:green !important;
  }
  .company>div>:nth-child(1){
    color:rgb(0, 0, 0);
  }
  .company>div>:nth-child(2){
    color:rgb(0, 0, 0);
  }
  .company>div>:nth-child(3){
    color:rgb(0, 0, 0);
  }
  .objectives{
    text-align: justify;
    padding: 20px;
  }
  .objectives>div>ul{
    list-style-type: none;
  }
  .objectives>h5{
    text-align: center;
    color: black;
  }
  .objectives{
    text-align: justify;
    padding: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .objectives>p{
    text-align: center;
    text-align: justify;
  }
  .objectives>{
    text-align: center;
  }
  .vision{
    text-align: justify;
    padding: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .mission{
    text-align: justify;
    padding: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .mission>h5{
    text-align: center;
    color: black;
  }
  .vision>h5{
    text-align: center;
    color: black;
  }

  @media only screen and (max-width: 768px){
    .header{
      display: grid !important;
      grid-template-columns: 1fr !important;
      grid-gap: 40px !important;
    }
  }
  @media only screen and (max-width: 428px){
    .header{
      display: grid !important;
      grid-template-columns: 1fr !important;
      grid-gap: 40px !important;
    }
  }

