.details{
  display:grid;
  grid-template-rows:1fr;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.details h2 {
  color:green;
  font-size: 2em;
  background-color: green;
  color:white;
}
.details h3 {
  color:gray;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 40px;
}
.html {
  margin-left: 40px;
  margin-right: 40px;
}
.featured {
  margin-bottom: 40px;
  width:auto;
  height:auto;
  text-align:center;
}
.dets{
  margin-top:20px;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, fr));
}
@media only screen and (max-width: 320px){
    .details{
        display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
      }
        .grid{
        display:block;
        background-color:white;
        margin-bottom:10px;
        margin-top:10px;
    }
    .html{
    display:block;
        background-color:white;
        margin-bottom:10px;
        margin-top:10px;
}
.chemicals{
    display:block;
        background-color:white;
        margin-bottom:10px;
        margin-top:10px;
}
.logistics{
    display: block;
    background-color: white;
    margin-bottom: 30px;
    margin-top:10px;
}
.top_side{
    display: block;
}
.down_side{
    display: block;
}
}
@media only screen and (max-width: 375px){
    .details{
        display:block;
      }
        .wrapper{
        display:block;
        text-align:center;
        margin-bottom:10px;
    }
        .livestock{
        display:block;
        background-color:white;
        margin-bottom:10px;
        margin-top:10px;
    }
    .vegetables{
    display:block;
        background-color:white;
        margin-bottom:10px;
        margin-top:10px;
}
.chemicals{
    display:block;
        background-color:white;
        margin-bottom:10px;
        margin-top:10px;
}
.logistics{
    display: block;
    background-color: white;
    margin-bottom: 30px;
    margin-top:10px;
}
.top_side{
    display: block;
}
.down_side{
    display: block;
}
}
@media only screen and (max-width: 425px){
    .details{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      }
        .wrapper{
        display:block;
        text-align:center;
        margin-bottom:10px;
    }
        .livestock{
        display:block;
        background-color:white;
        margin-bottom:10px;
        margin-top:10px;
    }
    .vegetables{
    display:block;
        background-color:white;
        margin-bottom:10px;
        margin-top:10px;
}
.chemicals{
    display:block;
        background-color:white;
        margin-bottom:10px;
        margin-top:10px;
}
.logistics{
    display: block;
    background-color: white;
    margin-bottom: 30px;
    margin-top:10px;
}
.top_side{
    display: block;
}
.down_side{
    display: block;
}
}
@media only screen and (max-width: 280px){
    .details{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      }
        .wrapper{
        display:block;
        text-align:center;
        margin-bottom:10px;
    }
        .livestock{
        display:block;
        background-color:white;
        margin-bottom:10px;
        margin-top:10px;
    }
    .vegetables{
    display:block;
        background-color:white;
        margin-bottom:10px;
        margin-top:10px;
}
.chemicals{
    display:block;
        background-color:white;
        margin-bottom:10px;
        margin-top:10px;
}
.logistics{
    display: block;
    background-color: white;
    margin-bottom: 30px;
    margin-top:10px;
}
.top_side{
    display: block;
}
.down_side{
    display: block;
}
}
