.details{
  display:grid;
  grid-template-rows:1fr;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  border:1px solid
}
.details h2 {
  color:green;
  font-size: 2em;
  background-color: green;
  color:white;
}
.details h3 {
  color:gray;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 40px;
}
.html {
  margin-left: 40px;
  margin-right: 40px;
}
.featured {
  width:500px;
  height:500px;
  text-align:center;
}
.dets{
  margin-top:20px;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, fr));
}