.wrapper{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    column-gap: 1rem;
    text-align:center;
    margin-top: 2% !important;
    margin-bottom: 2% !important;
    margin-left: 12% !important;
    margin-right: 12% !important;
}
.services_title>h3{
    text-align: center;
    color: green;
}
.top_side{
    display:grid;
    gap:10px;
    grid-template-rows:1fr 1fr;
    background-color:white;
}
.down_side{
    display:grid;
    gap:10px;
    grid-template-rows:1fr 1fr;
    background-color:white;
}
.chemicals{
    border-right:2px solid #439C23;
    border-top:2px solid #439C23;
    text-align:center;
    margin-bottom: 25px;
}
.chemicals>div>h5{
    color:black !important;
}
.chemicals>div>p{
    padding-left:15px;
    padding-right:15px;
    text-align:justify !important;
}
.chemicals>div>div>p{
    padding-left:15px;
    padding-right:15px;
}
.livestock{
    border-top:2px solid #439C23;
    text-align:center;

    border-right:2px solid #439C23;
    margin-bottom: 25px;
}
.livestock>div>h5{
    color:black !important;
}
.livestock>div>p{
    padding-left:15px;
    padding-right:15px;
    text-align:justify !important;
}
.livestock>div>div>p{
    padding-left:15px;
    padding-right:15px;
}
.vegetables{

    border-left:2px solid #439C23;
    border-top:2px solid #439C23;
    text-align:center;
    margin-bottom: 25px;
}
.vegetables>div>h5{
    color:black !important;
}
.vegetables>div>div>p{
    padding-left:15px;
    padding-right:15px;
    text-align:justify !important;
}
.logistics{
    border-left:2px solid #439C23;
    border-top:2px solid #439C23;
    text-align:center;
    margin-bottom: 25px;
}
.logistics>div>h5{
    color:black !important;
}
.logistics>div>p{
    padding-left:15px;
    padding-right:15px;
    text-align:justify !important;
}
.logistics>div>div>p{
    padding-left:15px;
    padding-right:15px;
}